{% extends 'templates/main.twig' %}
{% block content %}

<div class="large-9 large-offset-1 columns">

	<div class="first {% if not done.first %}done{% endif %} step">
		<div class="row">
			<div class="large-1 columns number">
				<h1>1.</h1>
			</div>
			<div class="large-11 columns content">
				{% if not done.first %}
				<p>{{ 'home.first.login'|trans }}</p>
				<a href="{{ url('redirect_twitter') }}">{{ 'home.first.login.link'|trans }}</a>
				{% else %}
				<div class="row">
					<div class="large-3 columns">
						<img src=" {{ user.twitter.useful_infos.profile_image }}" alt="profile picture of {{ user.twitter.useful_infos.screen_name }}">
					</div>
					<div class="large-9 columns">
						<h2>{{ 'home.first.hello'|trans }} @{{user.twitter.useful_infos.screen_name}} !</h2>
						<a href="{{ url('logout') }}">{{ 'home.first.logout'|trans }}</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<hr>
	<div class="second {% if not done.second %}done{% endif %} step">
		<div class="row">
			<div class="large-1 columns number">
				<h1>2.</h1>
			</div>
			<div class="large-11 columns content">
				{% if not done.second %}
				<h2>{{ 'home.second.title'|trans }}</h2>
				<form method="POST" action="{{ url('save_ex_twitter') }}">
				  <div class="row collapse">
				    <div class="large-1 columns">
				      <span class="prefix">@</span>
				    </div>
				    <div class="large-6 columns">
				      <input type="text" name="ex_screen_name" id="ex_screen_name" placeholder="{{ 'home.second.input.placeholder'|trans }}">
				    </div>
				    <div class="large-2 pull-3 columns">
				      <input type="submit" href="#" class="button prefix" value="Bybye !">
				    </div>
				  </div>
				</form>
				{% else %}
				<div class="row">
					<div class="large-3 columns">
						<img src=" {{ twitter_ex_infos.useful_infos.profile_image_url_https }}" alt="profile picture of {{ twitter_ex_infos.useful_infos.screen_name }}">
						<p class="text-center">{{ twitter_ex_infos.useful_infos.description }}</p>
					</div>
					<div class="large-9 columns">
						<h2>{{ 'home.second.title.first_part'|trans }} @{{twitter_ex_infos.useful_infos.screen_name}} {{ 'home.second.title.second_part'|trans }}</h2>
						<div class="row collapse">
							<form method="POST" action="{{ url('is_your_ex_twitter') }}">
								<div class="large-9 columns">
									<input type="submit" class="button expand success" name="yes" value="{{ 'home.second.confirm.yes'|trans }}" />
								</div>
								<div class="large-3 columns">
									<input type="submit" class="button expand alert" name="no" value="{{ 'home.second.confirm.no'|trans }}" />
								</div>
							</form>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>


	<hr>
	<div class="third {% if not done.third %}done{% endif %} step">
		<div class="row">
			<div class="large-1 columns number">
				<h1>3.</h1>
			</div>
			<div class="large-11 columns content">
				<h3>{{ 'home.third.title.first'|trans }} {{ favorites_from_ex|length }} {{ 'home.third.title.second'|trans }} ({{ twitter_ex_infos.useful_infos.screen_name }}).
					{{ 'home.third.title.third'|trans }}</h3>
				<div class="row collapse">
					<form method="POST" action="">
						<div class="large-6 columns">
							<input type="submit" class="button expand success" name="yes" value="{{ 'home.third.confirm.yes'|trans }}" />
						</div>
						<div class="large-3 columns">
							<input type="submit" class="button expand secondary" name="yes" value="{{ 'home.third.confirm.see'|trans }}" />
						</div>
						<div class="large-3 columns">
							<input type="submit" class="button expand alert" name="no" value="{{ 'home.third.confirm.no'|trans }}" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<hr>
	<div class="fourth {% if not done.fourth %}done{% endif %} step">
		<div class="row">
			<div class="large-1 columns number">
				<h1>4.</h1>
			</div>
			<div class="large-11 columns content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, earum iste enim odio velit quis maxime officiis ex atque voluptates? Numquam, quis dolorem repellendus minima enim fugit cumque eveniet ipsam.</p>
			</div>
		</div>
	</div>

</div>
{% endblock %}